{{> header}}

<div class="container">
	<div class="row">
		<div class="col-md-12">
				{{!-- <div class='col-md-auto'> --}}
					<h1 class="text-center">{{welcomeMessage}}</h1>
				{{!-- </div> --}}

				
				<p class="text-center">Hey. This is the page where I post random projects I'm working on. Some writing, some code, some things I found and thought really interesting to share. Do check them out, A.</p>
		</div>
	</div>
</div>

{{> footer}}
